<html>
<head>
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h2>({{restaurant.id}}). {{restaurant.name}}</h1>

        <div>
            <!--MESSAGE FLASHING EXAMPLE -->
            {% with messages = get_flashed_messages() %} {% if messages %}
            <ul>
                {% for message in messages %}
                <li><strong>{{message}}</strong></li>
                {% endfor %}
            </ul>
            {% endif %} {% endwith %}

        </div>

        <a href='{{url_for('newMenuItem',restaurant_id = restaurant.id)}}'>Adicionar novo item de menu</a>
        <ol>
            {% for i in items %}
            <li>
                <ul>
                    <li><b>Name: </b>{{i.name}}</li>
                    <li><b>Descritpion: </b>{{i.description}}</li>
                    <li><b>Price: </b>{{i.price}} </li>

                    <a href='{{url_for('editMenuItem', restaurant_id = restaurant.id, menu_id = i.id) }}'>edit</a>
                    <a href='{{url_for('deleteMenuItem', restaurant_id = restaurant.id, menu_id = i.id ) }}'>delete</a>
                </ul>
            </li>
            {% endfor %}
        </ol>
</body>

</html>